# Dependencies
node_modules/

# Environment
.env
backend/.env

# Local SQLite databases
*.sqlite*
*.db*
backend/*.sqlite*
backend/*.db*

# Logs & temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
